<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/oncollaboration.css">

</head>
<body>
    <h1 class="h1404">404</h1>
    <h2 class="h2404">Page not found</h2>
    <p class="p404">Return to <a href="/">home</a>.</p>
</body>
</html>