</body>
<footer>
    <p>© 2024 - Antoni van Leeuwenhoek</p>
    <ul>
        <li><a href="/">Disclaimer</a></li>
        <li><a href="/">Privacystatement</a></li>
        <li> <a href="/">Cookiestatement</a></li>
    </ul>
    <img src="/assets/AVL-Logo-white.svg" alt="Antoni van Leeuwenhoek">
    <img src="/assets/kemenkessardjito.png" class="logo-nav" alt="Sardjito hospital">
</footer>

<script src="/main.js"></script>

</html>